@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
header {
  background: #b80d1d;
  height: 100px;
}

a {
  color: white;
  text-decoration: none;
}

i,
p,
h2 {
  color: white;
}

.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: green;
}

.capa {
  background: purple;
  height: 100px;
}
.historia {
  background: #b80d1d;
}

.bolos {
  background: #b80d1d;
}

.footer {
  background: yellow;
}
